@font-face {
	font-family: custom-icons;
	src: url(./assets/fonts/custom-icons.eot?1633174849799);
	src: url(./assets/fonts/custom-icons.eot?#iefix-1633174849799) format("embedded-opentype"),
	url(./assets/fonts/custom-icons.woff2?1633174849799) format("woff2"),
	url(./assets/fonts/custom-icons.woff?1633174849799) format("woff"),
	url(./assets/fonts/custom-icons.ttf?1633174849799) format("truetype");
	font-weight: 400;
	font-style: normal
}

[class*=" icon-"]:before, [class^=icon-]:before {
	font-family: custom-icons;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: 400;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-bag:before {
	content: "\ea01"
}

.icon-cart:before {
	content: "\ea02"
}

.icon-delivery:before {
	content: "\ea03"
}

.icon-facebook:before {
	content: "\ea04"
}

.icon-instagram:before {
	content: "\ea05"
}

.icon-left:before {
	content: "\ea06"
}

.icon-minus:before {
	content: "\ea07"
}

.icon-plus:before {
	content: "\ea08"
}

.icon-right:before {
	content: "\ea09"
}

.icon-search:before {
	content: "\ea0a"
}

.icon-trash:before {
	content: "\ea0b"
}

.icon-twitter:before {
	content: "\ea0c"
}

/*@font-face {*/
/*	font-family: slick;*/
/*	font-weight: 400;*/
/*	font-style: normal;*/
/*	src: url(fonts/slick.eot);*/
/*	src: url(fonts/slick.eot?#iefix) format("embedded-opentype"), url(fonts/slick.woff) format("woff"), url(fonts/slick.ttf) format("truetype"), url(fonts/slick.svg#slick) format("svg")*/
/*}*/

.slick-next, .slick-prev {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	transform: translateY(-50%);
	cursor: pointer;
	border: none
}

.slick-next, .slick-next:focus, .slick-next:hover, .slick-prev, .slick-prev:focus, .slick-prev:hover {
	color: transparent;
	outline: none;
	background: transparent
}

.slick-next:focus:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-prev:hover:before {
	opacity: 1
}

.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
	opacity: .25
}

.slick-next:before, .slick-prev:before {
	font-family: slick;
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.slick-prev {
	left: -25px
}

[dir=rtl] .slick-prev {
	right: -25px;
	left: auto
}

.slick-prev:before {
	content: "←"
}

[dir=rtl] .slick-prev:before {
	content: "→"
}

.slick-next {
	right: -25px
}

[dir=rtl] .slick-next {
	right: auto;
	left: -25px
}

.slick-next:before {
	content: "→"
}

[dir=rtl] .slick-next:before {
	content: "←"
}

.slick-dotted.slick-slider {
	margin-bottom: 30px
}

.slick-dots {
	position: absolute;
	bottom: -25px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center
}

.slick-dots li {
	position: relative;
	display: inline-block;
	margin: 0 5px;
	padding: 0
}

.slick-dots li, .slick-dots li button {
	width: 20px;
	height: 20px;
	cursor: pointer
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	padding: 5px;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent
}

.slick-dots li button:focus, .slick-dots li button:hover {
	outline: none
}

.slick-dots li button:focus:before, .slick-dots li button:hover:before {
	opacity: 1
}

.slick-dots li button:before {
	font-family: slick;
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: "•";
	text-align: center;
	opacity: .25;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
	opacity: .75;
	color: #000
}

.slick-slider {
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent
}

.slick-list, .slick-slider {
	position: relative;
	display: block
}

.slick-list {
	overflow: hidden;
	margin: 0;
	padding: 0
}

.slick-list:focus {
	outline: none
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand
}

.slick-slider .slick-list, .slick-slider .slick-track {
	transform: translateZ(0)
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.slick-track:after, .slick-track:before {
	display: table;
	content: ""
}

.slick-track:after {
	clear: both
}

.slick-loading .slick-track {
	visibility: hidden
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px
}

[dir=rtl] .slick-slide {
	float: right
}

.slick-slide img {
	display: block
}

.slick-slide.slick-loading img {
	display: none
}

.slick-slide.dragging img {
	pointer-events: none
}

.slick-initialized .slick-slide {
	display: block
}

.slick-loading .slick-slide {
	visibility: hidden
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}

.slick-arrow.slick-hidden {
	display: none
}

html {
	box-sizing: border-box
}

*, :after, :before {
	box-sizing: inherit
}

img {
	box-sizing: content-box
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}

* {
	outline: 0 none
}

body {
	background: #fff;
	font-family: Montserrat, sans-serif;
	color: #111;
	line-height: 1.25;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-height: 100vh;
	max-width: 100vw;
	overflow-x: hidden
}

body.modal-open {
	overflow: hidden
}

section {
	margin: 0 0 auto
}

ol, ul {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
	content: "";
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

.language:after {
	content: attr(data-after);
	margin-left: 5px
}

.language:before {
	content: attr(data-before);
	margin-right: 5px
}

.language:after, .language:before {
	position: relative;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	font-size: 16px
}

.language:not(.checked):before {
	color: #fff;
	font-weight: 700
}

header .col-5:first-of-type .menu li {
	margin-right: 30px
}

header .col-5:first-of-type .menu a {
	text-decoration: none
}

header .icon-bag:hover {
	color: hsla(0, 0%, 7%, .6)
}

header .top-header {
	background: #111;
	padding: 10px 0
}

header .top-header p {
	color: #fff;
	font-size: 12px
}

header .top-header ul {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-ms-flex-align: center;
	align-items: center
}

header .top-header ul li[class*=icon-] {
	position: relative;
	margin-left: 25px
}

header .top-header ul li[class*=icon-]:hover:before {
	color: hsla(0, 0%, 100%, .6)
}

header .top-header ul li[class*=icon-]:before {
	color: #fff;
	font-size: 20px
}

header .top-header ul li[class*=icon-] a {
	font-size: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0
}

header .top-header ul li a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	transition: all .3s ease
}

header .top-header ul li a:hover {
	color: hsla(0, 0%, 100%, .6)
}

header .top-header ul li:not([class*=icon-]) {
	margin-left: 10px
}

header .logo {
	width: 88px;
	display: block;
	margin: 10px auto
}

header .icon-bag {
	font-size: 16px;
	color: #111;
	font-weight: 600;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	text-decoration: none;
	transition: all .3s ease;
	position: relative
}

header .icon-bag #mini-cart-count:not(:empty) {
	background: #111;
	opacity: 1
}

header .icon-bag #mini-cart-count {
	position: absolute;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	width: 20px;
	height: 20px;
	-ms-flex-pack: center;
	justify-content: center;
	top: -10px;
	left: 10px;
	opacity: 0;
	pointer-events: none;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center
}

header .icon-bag #mini-cart-count:empty {
	display: none;
	opacity: 0
}

header .icon-bag:before {
	margin-right: 12px;
	font-size: 20px
}

header .menu {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

header .menu a {
	font-size: 14px;
	color: #111;
	transition: all .3s ease
}

header .menu a:hover {
	color: hsla(0, 0%, 7%, .6)
}

header .col-5:last-of-type .menu {
	-ms-flex-pack: end;
	justify-content: flex-end
}

header .col-5:last-of-type .menu li:last-of-type {
	margin-left: 15px
}

header .col-12 .menu {
	-ms-flex-pack: center;
	justify-content: center;
	padding: 20px 0;
	border-bottom: 1px solid #cfcfcf;
	border-top: 1px solid #cfcfcf;
	margin-bottom: 20px
}

header .col-12 .menu li {
	margin: 0 20px
}

header .col-12 .menu a {
	text-decoration: none
}

.language {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	margin: auto 0
}

.language input:checked + label {
	background: #a5a8b5
}

.language input:checked + label:before {
	left: -8px;
	transform: translateX(24px)
}

.language label {
	width: 32px;
	position: relative;
	background: #a5a8b5;
	border-radius: 31px;
	height: 10px;
	cursor: pointer;
	transition: all .3s ease
}

.language label:before {
	content: "";
	background: #fff;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	transition: all .3s ease;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -8px
}

.language input {
	display: none
}

.language.checked:after {
	color: #fff;
	font-weight: 700
}

.page404 {
	padding-bottom: 50px
}

.page404 h2 {
	text-align: center;
	font-size: 36px;
	color: #111;
	margin-bottom: 30px
}

.page404 img {
	display: table;
	width: 567px;
	margin: 0 auto 60px
}

.achievement {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row
}

.achievement li {
	width: calc((100% - 80px) / 3);
	margin-right: 40px
}

.achievement li:nth-of-type(3n) {
	margin-right: 0
}

.about-us {
	padding-bottom: 30px
}

.about-us .breadcrumbs {
	margin-bottom: 40px
}

.about-us .col-6:first-of-type {
	padding-left: 110px
}

.about-us .row:last-of-type p {
	max-width: 324px
}

.about-us h1.title {
	font-size: 24px;
	color: #111;
	margin-bottom: 15px
}

.about-us h6 {
	font-weight: 500;
	font-size: 16px;
	color: #111;
	margin: 20px 0 15px
}

.about-us p {
	color: #111;
	font-size: 14px;
	margin-bottom: 15px
}

.blog + .articles .item h3.title, .blog.articles .item h3.title {
	margin-bottom: 15px;
	min-height: auto
}

.articles .item {
	margin-bottom: 20px
}

.articles .item a {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	color: #111;
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 15px;
	transition: all .3s ease
}

.articles .item a:hover {
	color: hsla(0, 0%, 7%, .6)
}

.articles .item a:hover img {
	opacity: .6
}

.articles .item img {
	width: 100%;
	height: 201px;
	transition: all .3s ease
}

.articles .item h3.title {
	min-height: 50px;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase
}

.articles .item h3.title a {
	margin-bottom: 0
}

.articles .item .desc {
	color: #707070;
	font-size: 12px
}

.blog:not(.articles) {
	padding-bottom: 30px
}

.blog-content img {
	max-width: 100%
}

.blog-content, .page-content {
	padding-top: 20px
}

.blog-content blockquote:after, .page-content blockquote:after {
	bottom: 15px;
	right: 15px;
	content: "„"
}

.blog-content blockquote:before, .page-content blockquote:before {
	content: "“";
	left: 15px;
	top: 8px
}

.blog-content h1, .blog-content h2, .blog-content h3, .blog-content h4, .blog-content h5, .blog-content h6, .page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 15px;
	color: #111
}

.blog-content h1, .page-content h1 {
	font-size: 36px
}

.blog-content h2, .page-content h2 {
	font-size: 32px
}

.blog-content h3, .page-content h3 {
	font-size: 28px
}

.blog-content h4, .page-content h4 {
	font-size: 24px
}

.blog-content h5, .page-content h5 {
	font-size: 20px
}

.blog-content h6, .page-content h6 {
	font-size: 16px
}

.blog-content a, .blog-content p, .page-content a, .page-content p {
	font-size: 14px;
	margin-bottom: 15px;
	color: #707070
}

.blog-content a, .page-content a {
	display: inline-block;
	color: #111
}

.blog-content a:hover, .page-content a:hover {
	color: hsla(0, 0%, 7%, .6)
}

.blog-content b, .blog-content strong, .page-content b, .page-content strong {
	font-weight: 500
}

.blog-content em, .blog-content i, .page-content em, .page-content i {
	font-style: italic
}

.blog-content .thumbnail, .page-content .thumbnail {
	width: 100%
}

.blog-content ul:not([class]), .page-content ul:not([class]) {
	margin-bottom: 15px
}

.blog-content ul:not([class]) li, .page-content ul:not([class]) li {
	position: relative;
	padding-left: 15px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 2;
	color: #707070
}

.blog-content ul:not([class]) li:before, .page-content ul:not([class]) li:before {
	left: 0;
	width: 6px;
	height: 6px;
	top: 11px;
	content: "";
	border-radius: 50%;
	position: absolute;
	background: #707070
}

.blog-content ul:not([class]) ul, .page-content ul:not([class]) ul {
	margin-top: 5px;
	padding-left: 20px
}

.blog-content ol, .page-content ol {
	counter-reset: a;
	padding-left: 0
}

.blog-content ol ol, .page-content ol ol {
	margin-left: 20px;
	margin-bottom: 0
}

.blog-content ol li, .page-content ol li {
	font-size: 14px;
	margin-bottom: 5px;
	line-height: 2;
	color: #111;
	list-style: none;
	color: #707070
}

.blog-content ol li:before, .page-content ol li:before {
	counter-increment: a;
	content: counters(a, ".") " "
}

.blog-content ol > li:before, .page-content ol > li:before {
	counter-increment: a;
	content: counters(a, ".") ". "
}

.blog-content ol, .blog-content ul:not([class]), .page-content ol, .page-content ul:not([class]) {
	margin-bottom: 15px
}

.blog-content blockquote, .page-content blockquote {
	border: 1px solid #707070;
	border-radius: 12px;
	padding: 30px 40px;
	position: relative;
	margin-bottom: 20px
}

.blog-content blockquote a, .blog-content blockquote p:last-of-type, .page-content blockquote a, .page-content blockquote p:last-of-type {
	margin-bottom: 0
}

.blog-content blockquote:after, .blog-content blockquote:before, .page-content blockquote:after, .page-content blockquote:before {
	font-size: 36px;
	font-weight: 600;
	position: absolute;
	color: #707070
}

.page-content {
	padding: 20px 0 50px
}

.banner {
	margin-bottom: 25px
}

.banner .banner-slider {
	background: #e6e7e9
}

.banner .banner-slider .slick-arrow.icon-right {
	right: 15px
}

.banner .banner-slider .slick-arrow.icon-left {
	left: 15px
}

.banner .banner-slider .slick-arrow:before {
	transition: all .3s ease;
	font-size: 20px
}

.banner .banner-slider .slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 1
}

.banner .banner-slider .slick-arrow:hover:before {
	color: hsla(0, 0%, 7%, .6)
}

.banner .banner-slider .slick-dots {
	bottom: 15px
}

.banner .banner-slider .slick-dots li {
	width: 5px;
	height: 5px;
	margin: 0 7.5px
}

.banner .banner-slider .slick-dots li button {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #a0a0a0;
	padding: 0
}

.banner .banner-slider .slick-dots li button:before {
	display: none
}

.banner .banner-slider .slick-dots li.slick-active button {
	background: #111
}

.banner .item {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.banner .description {
	padding-left: 110px;
	width: calc(100% - 744px);
	margin: auto
}

.banner .description h2.title {
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 5px;
	color: #111
}

.banner .description h2.title:before {
	display: none
}

.banner .description h5.meta {
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	border: 1px solid #111;
	color: #111;
	font: 12px;
	padding: 5px;
	margin-bottom: 15px
}

.banner .description p.desc {
	font-size: 14px;
	color: #111;
	margin-bottom: 15px;
	max-width: 345px
}

.banner .img {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	width: 744px
}

.banner .img img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center
}

.brands .item a {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	transition: all .3s ease
}

.brands .item a:hover {
	opacity: .6
}

.brands .item img {
	width: 100%;
	height: 201px;
	-o-object-fit: none;
	object-fit: none;
	-o-object-position: center;
	object-position: center
}

.brand .brand-description {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center
}

.brand .brand-description img {
	width: 211px;
	height: 211px;
	-o-object-fit: none;
	object-fit: none;
	-o-object-position: center;
	object-position: center;
	margin-right: 40px
}

.brand .brand-description .desc h1.title {
	font-size: 24px;
	color: #111;
	margin-bottom: 15px
}

.brand .brand-description .desc p.brand-desc {
	font-size: 14px;
	color: #111
}

.brand .filters {
	border: 1px solid #cfcfcf;
	padding: 20px
}

.brand .filters h4 {
	font-size: 18px;
	color: #111;
	margin-bottom: 20px
}

.brand .filters p {
	margin-top: 20px;
	font-size: 12px;
	color: #707070;
	margin-bottom: 10px
}

.brand .filters .inputs {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.brand .filters .inputs label:first-of-type {
	margin-right: 15px
}

.brand .filters .inputs input {
	width: 90px;
	border: 1px solid #cfcfcf;
	height: 24px;
	margin-left: 10px
}

.brand .filters .checkbox {
	margin-bottom: 15px
}

.brand .filters .checkbox label:hover {
	color: hsla(0, 0%, 7%, .6)
}

.brand .filters .checkbox label:hover:before {
	border-color: hsla(0, 0%, 7%, .6)
}

.brand .filters .checkbox input {
	display: none
}

.brand .filters .checkbox input:checked + label:before {
	box-shadow: inset 0 0 0 1.5px #fff;
	background: #111
}

.brand .filters .checkbox label {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	font-size: 14px;
	color: #111;
	transition: all .3s ease
}

.brand .filters .checkbox label:before {
	content: "";
	width: 18px;
	height: 18px;
	border: 1px solid #111;
	position: absolute;
	left: 0;
	transition: all .3s ease
}

.filters {
	border: 1px solid #cfcfcf;
	padding: 20px
}

.filters input[type=submit] {
	width: 100%;
	height: 40px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #111;
	border: none;
	font-size: 18px;
	color: #fff;
	transition: all .3s ease;
	cursor: pointer
}

.filters input[type=submit]:hover {
	background: rgba(0, 0, 0, .6)
}

.filters div:last-of-type {
	margin-bottom: 0
}

.filters a {
	color: #111;
	font-size: 14px;
	text-decoration: none
}

.filters a:hover {
	color: rgba(1, 1, 1, .6)
}

.filters h4 {
	font-size: 18px;
	color: #111;
	margin-bottom: 20px
}

.filters p {
	margin-top: 20px;
	font-size: 12px;
	color: #707070;
	margin-bottom: 10px
}

.filters .input label {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.filters .input label input {
	width: calc(100% - 40px)
}

.filters .input label .icon-search {
	background: #111;
	color: #fff;
	border: none;
	transition: all .3s ease;
	width: 40px;
	height: 40px;
	font-size: 20px
}

.filters .input label .icon-search:hover {
	background: rgba(0, 0, 0, .6)
}

.filters .inputs {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.filters .inputs label:first-of-type {
	margin-right: 15px
}

.filters .inputs input {
	width: 90px;
	border: 1px solid #cfcfcf;
	height: 24px;
	margin-left: 10px
}

.filters .checkbox {
	margin-bottom: 15px
}

.filters .checkbox label:hover {
	color: hsla(0, 0%, 7%, .6)
}

.filters .checkbox label:hover:before {
	border-color: hsla(0, 0%, 7%, .6)
}

.filters .checkbox input {
	display: none
}

.filters .checkbox input:checked + label:before {
	box-shadow: inset 0 0 0 1.5px #fff;
	background: #111
}

.filters .checkbox label {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	font-size: 14px;
	color: #111;
	transition: all .3s ease
}

.filters .checkbox label:before {
	content: "";
	width: 18px;
	height: 18px;
	border: 1px solid #111;
	position: absolute;
	left: 0;
	transition: all .3s ease
}

.woocommerce nav.woocommerce-pagination ul.page-numbers {
	border: none
}

.woocommerce nav.woocommerce-pagination ul.page-numbers li {
	border: none;
	margin: 0 5px
}

.woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers.current, .woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers:not(.current):hover {
	border-color: #111 !important;
	background-color: transparent
}

.woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers.next:before {
	content: "\ea09"
}

.woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers.prev:before {
	content: "\ea06"
}

.woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers {
	border: 1px solid transparent;
	min-width: 30px;
	height: 30px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0 5px !important;
	font-size: 18px;
	color: #111;
	transition: all .3s ease
}

.woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers.next, .woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers.prev {
	font-size: 0
}

.woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers.next:before, .woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers.prev:before {
	font-size: 12px;
	position: relative;
	display: block;
	font-family: custom-icons
}

.wp-pagenavi {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 40px
}

.wp-pagenavi [role=navigation] {
	margin-top: 50px
}

.wp-pagenavi span:not(.current):first-of-type, .wp-pagenavi span:not(.current):last-of-type {
	display: none
}

.wp-pagenavi .current {
	border: 1px solid #111
}

.wp-pagenavi p {
	font-size: 18px;
	color: #414141;
	margin-right: 8px
}

.wp-pagenavi .nextpostslink, .wp-pagenavi .previouspostslink, .wp-pagenavi .prevpostslink {
	font-size: 0;
	min-width: 50px
}

.wp-pagenavi .nextpostslink:before, .wp-pagenavi .previouspostslink:before, .wp-pagenavi .prevpostslink:before {
	font-family: custom-icons;
	font-size: 12px
}

.wp-pagenavi a {
	text-decoration: none;
	color: #111
}

.wp-pagenavi a:hover {
	border: 1px solid #111
}

.wp-pagenavi .extend {
	border-color: transparent
}

.wp-pagenavi a, .wp-pagenavi span {
	padding: 0 5px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 30px;
	min-width: 30px;
	font-size: 18px;
	border: 1px solid transparent;
	color: #111;
	margin-right: 8px
}

.wp-pagenavi a:last-child, .wp-pagenavi span:last-child {
	margin-right: 0
}

.question-block .vc_column-inner {
	width: 100%
}

.question-block .vc_column-inner .wpcf7-form {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center
}

.question-block .question .col-6 p {
	max-width: 294px;
	margin: 0 auto 24px !important;
	text-align: center
}

.question-block .question .col-6 a.button {
	margin: 0 auto 20px;
	max-width: 300px;
	font-size: 14px;
	font-weight: 500
}

.question-block h2 {
	font-size: 24px;
	color: #111;
	margin-bottom: 20px
}

.question {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background: #edeae2;
	-ms-flex-align: center;
	align-items: center;
	padding: 25px 110px;
	margin: 10px 0 30px
}

.question p {
	margin-right: 40px;
	font-size: 18px;
	color: #111
}

.question .button {
	margin: 0;
	max-width: none;
	margin-right: 20px !important
}

.breadcrumbs > span:after, .kama_breadcrumbs > span:after {
	content: "";
	position: absolute;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #707070;
	top: 50%;
	transform: translateY(-50%);
	right: -9px
}

.breadcrumbs, .kama_breadcrumbs {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 15px
}

.breadcrumbs .kb_sep, .kama_breadcrumbs .kb_sep {
	display: none
}

.breadcrumbs a, .kama_breadcrumbs a {
	color: #707070 !important;
	text-decoration: none;
	transition: all .3s ease;
	margin-bottom: 0 !important
}

.breadcrumbs a:hover, .kama_breadcrumbs a:hover {
	color: hsla(0, 0%, 44%, .6) !important
}

.breadcrumbs > span, .kama_breadcrumbs > span {
	font-size: 14px;
	color: #111;
	position: relative;
	display: block;
	margin-right: 15px
}

.breadcrumbs > span:last-of-type:after, .kama_breadcrumbs > span:last-of-type:after {
	display: none
}

form.question p {
	text-align: center;
	margin: 0 auto 20px;
	font-size: 18px;
	color: #111
}

form.question .radio .wpcf7-list-item {
	display: table;
	margin: 0 auto;
	max-width: 294px;
	width: 100%
}

form.question .radio label:not(.active):hover {
	background: #111;
	color: #fff
}

form.question .radio .first {
	margin-bottom: 20px
}

form.question .radio label.active {
	background: #111;
	color: #fff
}

form.question .radio input {
	display: none
}

form.question .radio label {
	font-size: 14px;
	color: #111;
	width: 100%;
	height: 38px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: 1px solid #111;
	cursor: pointer;
	transition: all .3s ease
}

.wpb_gmaps_widget .wpb_wrapper {
	padding: 0 !important
}

#map, .map {
	width: 100%;
	height: 400px;
	max-width: 1100px;
	margin: 30px auto 40px
}

.map {
	max-width: 1130px
}

.contacts .col-md-6:last-of-type {
	padding-right: 125px
}

.contacts .col-md-6:last-of-type form {
	margin: 0 0 0 auto
}

.contacts h2 {
	font-size: 24px;
	color: #111;
	margin-bottom: 20px
}

.contacts .col-md-6 {
	padding-top: 70px
}

.contacts .col-md-6 a:hover {
	color: hsla(0, 0%, 7%, .6)
}

.contacts .col-md-6 h6 {
	font-size: 14px;
	color: #414141;
	margin-bottom: 10px
}

.contacts .col-md-6 p {
	font-size: 18px;
	color: #111;
	margin-bottom: 20px
}

.contacts .col-md-6 a {
	display: table;
	font-size: 18px;
	color: #111;
	margin-bottom: 10px;
	text-decoration: none
}

.contacts .col-md-6 a:last-of-type {
	margin-bottom: 20px
}

.contacts .col-md-6:first-of-type {
	padding-left: 125px
}

.contacts .soc {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.contacts .soc a {
	font-size: 0;
	text-decoration: none
}

.contacts .soc a:before {
	font-size: 20px
}

.contacts .soc li {
	position: relative;
	margin-right: 25px
}

.contacts form {
	max-width: 430px
}

form .input {
	margin-bottom: 10px
}

form .input input {
	border: 1px solid #111;
	height: 40px;
	padding: 0 10px;
	width: 100%
}

form .input label {
	display: table;
	font-size: 14px;
	color: #111;
	margin-bottom: 10px
}

form .input .button {
	margin: 24px 0 0;
	width: 170px;
	font-size: 18px
}

form .textarea textarea {
	border: 1px solid #111;
	width: 100%;
	resize: none;
	height: 180px;
	padding: 10px
}

form .textarea label {
	display: table;
	font-size: 14px;
	color: #111;
	margin-bottom: 10px
}


.button.transparent, .vc_btn3.transparent {
	background-color: transparent !important;
	color: #111 !important
}

.button.transparent:hover, .vc_btn3.transparent:hover {
	color: hsla(0, 0%, 7%, .4) !important;
	border: 1px solid hsla(0, 0%, 7%, .4) !important
}

.button.mini, .vc_btn3.mini {
	padding: 10px 20px !important;
	font-size: 14px !important;
	margin: 15px 0;
	width: 126px
}

.buttons {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: center;
	justify-content: center
}

.buttons .button {
	margin: 0
}

.buttons .button:first-of-type {
	margin-right: 20px
}

.button, .vc_btn3 {
	background: #111 !important;
	color: #fff !important;
	display: -moz-flex;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 18px !important;
	padding: 10px !important;
	text-decoration: none;
	max-width: 230px;
	height: 40px;
	margin: 40px auto;
	border: 1px solid #111 !important;
	transition: all .3s ease;
	cursor: pointer;
	font-weight: 400 !important
}

.button:not(.transparent):hover, .vc_btn3:not(.transparent):hover {
	background: hsla(0, 0%, 7%, .6) !important;
	border: 1px solid hsla(0, 0%, 7%, .6) !important
}

h2.title {
	font-size: 36px;
	position: relative;
	color: #111;
	margin-bottom: 50px
}

h2.title span, h2.title strong {
	background: #fff;
	z-index: 1;
	display: table;
	position: relative;
	padding-right: 30px
}

h2.title:before {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	background: #cfcfcf
}

.woocommerce form .show-password-input, h2.title:before {
	top: 50%;
	transform: translateY(-50%)
}

.woocommerce .woocommerce-MyAccount-navigation ul li {
	padding-left: 0
}

.woocommerce .woocommerce-MyAccount-navigation ul li a {
	font-size: 18px;
	margin-bottom: 0;
	text-decoration: none
}

.woocommerce .woocommerce-MyAccount-navigation ul li:before {
	display: none
}

.woocommerce .woocommerce-Address-title.title {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center
}

.woocommerce .woocommerce-Address-title.title a {
	margin: 20px 0 15px auto
}

.description-block {
	padding: 15px 0 40px
}

.description-block .col-12 h2, .description-block .wpb_wrapper h2 {
	font-size: 24px;
	color: #111;
	margin-bottom: 30px
}

.description-block .col-12 p, .description-block .wpb_wrapper p {
	font-size: 14px;
	color: #111;
	margin-bottom: 20px
}

.description-block .col-12 > *, .description-block .wpb_wrapper > * {
	max-width: 1100px;
	width: 100%;
	display: table;
	margin: 0 auto
}

.landing-product .row:nth-of-type(2n) .text {
	margin: 0 0 0 auto
}

.landing-product .row:nth-of-type(2n) .col-lg-6:last-of-type {
	-ms-flex-order: -1;
	order: -1
}

.landing-product .container {
	max-width: 1130px
}

.landing-product .text {
	max-width: 544px
}

.landing-product .text h1 {
	font-size: 24px;
	color: #111;
	margin-bottom: 24px
}

.landing-product .text p {
	font-size: 14px;
	color: #111;
	margin-bottom: 30px
}

.landing-product .text p:last-of-type {
	margin-bottom: 0
}

.landing-product .row {
	margin-bottom: 50px
}

.landing-product .row img {
	margin: 0 auto;
	display: table
}

.landing-product .row:last-of-type {
	margin-bottom: 20px
}

.landing-product + .question-block .container, .landing-product + .question-block .question {
	max-width: 1130px;
	margin: 0 auto
}

.tab-pane.show {
	display: block
}

.product {
	margin-bottom: 15px
}

.product .item:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: hsla(0, 0%, 100%, .6);
	transform: translateY(100%);
	z-index: 1;
	transition: all .3s linear;
	pointer-events: none
}

.product .meta.stoc, .product .onsale.stoc {
	background: #f14f4f
}

.product .meta.top, .product .onsale.top {
	background: #111
}

.product .button.wc-forward {
	max-width: 255px
}

.product .row > .col-12 > .button {
	margin: 0 auto 70px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center
}

.product .meta, .product .onsale {
	position: absolute;
	color: #fff;
	font-size: 12px !important;
	font-weight: 400 !important;
	top: 0 !important;
	left: 0 !important;
	padding: 5px 10px !important;
	border-radius: 0 !important;
	line-height: 1 !important;
	min-width: auto !important;
	min-height: auto !important
}

.product .meta + .meta, .product .meta + .onsale, .product .onsale + .meta, .product .onsale + .onsale {
	top: 30px
}

.product .button.add_to_cart_button {
	z-index: 1;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, 100%);
	width: 100%;
	max-width: 245px;
	text-align: center;
	transition: all .3s linear
}

.product .button {
	margin-top: 0
}

.product .col-xl-6 {
	position: relative;
	left: 15px !important
}

.product .col-xl-6 .amount {
	margin-top: 30px
}

.product .col-xl-6 .amount[style="display: none;"] + .button {
	margin-top: 30px;
	margin-left: 0
}

.product .col-xl-6 .button {
	display: -moz-inline-flex !important;
	display: -ms-inline-flex !important;
	display: -o-inline-flex !important;
	display: -ms-inline-flexbox !important;
	display: inline-flex !important
}

.product .col-xl-6 .woocommerce-product-gallery {
	width: 100% !important
}

.product .col-xl-6 .img {
	position: relative;
	margin-top: 30px;
	max-width: 544px
}

.product .col-xl-6 .img .meta.stoc, .product .col-xl-6 .img .onsale.stoc {
	background: #f14f4f
}

.product .col-xl-6 .img .meta.top, .product .col-xl-6 .img .onsale.top {
	background: #111
}

.product .col-xl-6 .img img {
	width: 100%;
	height: auto;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center
}

.product .col-xl-6 .img .meta, .product .col-xl-6 .img .onsale {
	position: absolute;
	color: #fff;
	font-size: 12px;
	top: 0;
	left: 0;
	padding: 5px 10px
}

.product .col-xl-6 .img .meta + .meta, .product .col-xl-6 .img .onsale + .meta {
	top: 30px
}

.product .col-xl-6 .description {
	margin-top: 30px
}

.product .col-xl-6 .description p.price {
	font-size: 24px;
	color: #111;
	font-weight: 600
}

.product .col-xl-6 .description p.price span {
	font-size: 16px;
	color: #707070;
	margin-right: 15px;
	position: relative
}

.product .col-xl-6 .description p.price span:before {
	height: 2px;
	width: 100%;
	content: "";
	position: absolute;
	top: 50%;
	background: #707070;
	transform: translateY(-50%)
}

.product .col-xl-6 .description .button {
	max-width: 245px;
	font-weight: 600;
	font-size: 18px;
	margin: 0 0 0 30px;
	float: none !important
}

.product .col-xl-6 .description h1.title {
	font-weight: 600;
	font-size: 24px;
	color: #111;
	margin-bottom: 15px
}

.product .col-xl-6 .description p.availability {
	color: #a0a0a0;
	font-size: 14px;
	margin-bottom: 15px
}

.product .col-xl-6 .description p.availability.active {
	color: #4fbd1b
}

.product .item {
	margin-bottom: 70px !important;
	overflow: hidden;
	position: relative
}

.product .item .wc-forward {
	display: none
}

.product .item .button {
	-ms-flex-direction: row;
	flex-direction: row
}

.product .item .img {
	position: relative;
	margin-bottom: 20px
}

.product .item .img img[src*="no-photo.png"] {
	width: 282px;
	height: 282px;
	-o-object-fit: none;
	object-fit: none
}

.product .item .img a.link {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
}

.product .item .img img {
	transition: all .3s ease
}

.product .item .img img:not([src*="no-photo.png"]) {
	width: 282px;
	height: 282px;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center
}

.product .item .description p.price {
	font-size: 14px;
	color: #111;
	font-weight: 600
}

.product .item .description h2.title {
	font-size: 14px;
	text-transform: uppercase;
	color: #111;
	margin-bottom: 15px;
	min-height: 51px
}

.product .item .description h2.title a {
	font-size: 14px;
	color: #111;
	text-decoration: none;
	transition: all .3s ease
}

.product .item .description h2.title a:hover {
	color: hsla(0, 0%, 7%, .6)
}

.product .item .description h2.title:before {
	display: none
}

.product .item .description p.availability {
	color: #a0a0a0;
	font-size: 12px;
	margin-bottom: 15px
}

.product .item .description p.availability.active {
	color: #4fbd1b
}

.product .item:hover .button.add_to_cart_button {
	transform: translate(-50%, -50%);
	top: 50%
}

.product .item:hover:before {
	transform: translateY(0)
}

.nav-tabs {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #cfcfcf;
	margin-top: 25px
}

.nav-tabs button.active {
	color: #111
}

.nav-tabs button.active:before {
	opacity: 1
}

.nav-tabs button:before {
	content: "";
	width: 100%;
	height: 2px;
	background: #111;
	position: absolute;
	bottom: 0;
	opacity: 0;
	left: 0
}

.nav-tabs li {
	margin-right: 15px
}

.nav-tabs button {
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #707070;
	padding: 10px 0;
	position: relative;
	cursor: pointer;
	transition: all .3s ease
}

.nav-tabs button:not(.active):hover {
	color: hsla(0, 0%, 44%, .6)
}

.tab-pane {
	display: none;
	margin-bottom: 40px
}

.tab-pane table {
	margin-top: 10px;
	width: 100%
}

.tab-pane table td:last-of-type {
	text-align: right
}

.tab-pane table td {
	padding: 7px 10px;
	font-size: 12px;
	color: #414141;
	width: 50%
}

.tab-pane table tr {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center;
	min-height: 30px
}

.tab-pane table tr:nth-of-type(2n-1) {
	background: hsla(0, 0%, 81%, .2)
}

.tab-pane h2, .tab-pane h3, .tab-pane h4, .tab-pane h5, .tab-pane h6 {
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 15px
}

.tab-pane h2 {
	font-size: 32px
}

.tab-pane h3 {
	font-size: 28px
}

.tab-pane h4 {
	font-size: 24px
}

.tab-pane h5 {
	font-size: 20px
}

.tab-pane h6 {
	font-size: 16px
}

.tab-pane p {
	font-size: 14px;
	margin-bottom: 15px
}

.tab-pane b, .tab-pane strong {
	font-weight: 500
}

.tab-pane em, .tab-pane i {
	font-style: italic
}

.tab-pane ul {
	margin-bottom: 15px
}

.tab-pane ul li {
	position: relative;
	padding-left: 15px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 2
}

.tab-pane ul li:before {
	left: 0;
	width: 6px;
	height: 6px;
	top: 11px;
	content: "";
	border-radius: 50%;
	position: absolute;
	background: #111
}

.tab-pane ul ul {
	margin-top: 5px;
	padding-left: 20px
}

.tab-pane ol {
	counter-reset: a;
	padding-left: 0
}

.tab-pane ol ol {
	margin-left: 20px;
	margin-bottom: 0
}

.tab-pane ol li {
	font-size: 14px;
	margin-bottom: 5px;
	line-height: 2;
	color: #111;
	list-style: none
}

.tab-pane ol li:before {
	counter-increment: a;
	content: counters(a, ".") " "
}

.tab-pane ol > li:before {
	counter-increment: a;
	content: counters(a, ".") ". "
}

.tab-pane ol, .tab-pane ul {
	padding-left: 15px;
	margin-bottom: 15px
}

.tab-pane :first-child {
	margin-top: 20px
}

.amount {
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center
}

.amount input::-webkit-inner-spin-button, .amount input::-webkit-outer-spin-button {
	-webkit-appearance: none
}

.amount input {
	width: 47px;
	height: 42px;
	font-size: 18px;
	text-align: center;
	border: 1px solid #111;
	-moz-appearance: textfield
}

.amount .inc {
	font-size: 10px;
	margin-left: 10px
}

.amount .dec {
	margin-right: 10px;
	font-size: 10px
}

.amount .dec, .amount .inc {
	transition: all .3s ease
}

.amount .dec:hover, .amount .inc:hover {
	color: hsla(0, 0%, 7%, .6)
}

.page-content .col-md-6 .vc_figure, .page-content .col-md-6 .vc_figure .vc_single_image-wrapper, .page-content .col-md-6 img {
	width: 100%
}

.page-content .woocommerce {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.page-content .woocommerce .woocommerce-info {
	width: 100%
}

.page-content .woocommerce .return-to-shop .button {
	max-width: 290px
}

.page-content .woocommerce .woocommerce-order {
	width: 100%
}

.page-content .woocommerce .woocommerce-order .amount {
	margin-top: 0
}

.page-content .woocommerce .woocommerce-order address, .page-content .woocommerce .woocommerce-order address p {
	font-size: 16px;
	line-height: 1.8;
	color: #111
}

.page-content .woocommerce .woocommerce-order-overview .amount {
	margin-top: 0
}

.page-content .woocommerce .woocommerce-form-coupon-toggle, .page-content .woocommerce .woocommerce-notices-wrapper {
	width: 100%
}

.page-content .woocommerce .woocommerce-cart-form {
	width: calc(100% - 550px);
	margin-right: 10px
}

.page-content .woocommerce .woocommerce-shipping-destination {
	font-size: 12px
}

.page-content .woocommerce .checkout-button {
	max-width: 270px;
	padding: 0 !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 40px
}

.page-content .woocommerce .form-row input.input-text {
	height: 40px;
	border: 1px solid #111;
	border-radius: 0;
	padding: 0 15px
}

.page-content .woocommerce .select2-container--default .select2-selection--single {
	height: 40px;
	border: 1px solid #111;
	border-radius: 0
}

.page-content .woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered {
	padding: 0 30px 0 15px;
	line-height: 40px
}

.page-content .woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px
}

.page-content .woocommerce .shipping-calculator-button {
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.page-content .woocommerce .shipping-calculator-button:after {
	font-family: custom-icons;
	content: "\ea03";
	font-size: 22px
}

.page-content .woocommerce .cart-collaterals {
	max-width: 540px
}

.page-content .woocommerce .cart-collaterals tr {
	padding: 10px 0;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	border-bottom: 1px solid #cfcfcf
}

.page-content .woocommerce .cart-collaterals tr td span {
	font-weight: 600
}

.page-content .woocommerce .cart-collaterals tr td li {
	margin-bottom: 10px !important
}

.page-content .woocommerce .cart-collaterals tr #shipping_method label:hover {
	color: hsla(0, 0%, 7%, .6)
}

.page-content .woocommerce .cart-collaterals tr #shipping_method label:hover:before {
	border-color: hsla(0, 0%, 7%, .6)
}

.page-content .woocommerce .cart-collaterals tr #shipping_method label {
	font-weight: 600;
	position: relative;
	padding-left: 25px;
	cursor: pointer
}

.page-content .woocommerce .cart-collaterals tr #shipping_method label:before {
	content: "";
	width: 18px;
	height: 18px;
	border: 1px solid #111;
	position: absolute;
	left: 0;
	top: 0;
	transition: all .3s ease;
	border-radius: 50%
}

.page-content .woocommerce .cart-collaterals tr #shipping_method input[type=radio] {
	display: none
}

.page-content .woocommerce .cart-collaterals tr #shipping_method input[type=radio]:checked + label:before {
	box-shadow: inset 0 0 0 1.5px #fff;
	background: #111
}

.page-content .woocommerce .cart-collaterals tr td, .page-content .woocommerce .cart-collaterals tr th {
	border: none !important;
	font-size: 14px;
	line-height: 17px;
	color: #111
}

.page-content .woocommerce .cart-collaterals tr td {
	width: 60%
}

.page-content .woocommerce .cart-collaterals tr th {
	width: 40%
}

.page-content .woocommerce .cart-collaterals .shop_table .woocommerce-Price-amount {
	margin-top: 0
}

.page-content .woocommerce .cart-collaterals .cart_totals {
	width: 100%;
	border: 1px solid #cfcfcf;
	padding: 20px
}

.page-content .woocommerce .cart-collaterals .cart_totals h2 {
	font-size: 24px;
	color: #111;
	margin-top: 0
}

.page-content .woocommerce .cart-collaterals .cart_totals table.shop_table {
	border: none
}

.page-content .woocommerce .cart-collaterals .cart_totals table.shop_table td, .page-content .woocommerce .cart-collaterals .cart_totals table.shop_table th {
	font-size: 14px;
	font-weight: 400;
	padding: 0
}

.page-content .woocommerce-cart-form .shop_table {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	border: none
}

.page-content .woocommerce-cart-form thead {
	display: none
}

.page-content .woocommerce-cart-form .coupon {
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center;
	width: calc(100% - 224px)
}

.page-content .woocommerce-cart-form .coupon .button {
	max-width: 250px;
	padding: 0 !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 40px;
	width: 100%
}

.page-content .woocommerce-cart-form tr:not([class]) {
	width: 100%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.page-content .woocommerce-cart-form tr:not([class]) td {
	width: 100%;
	padding-left: 0;
	padding-right: 0
}

.page-content .woocommerce-cart-form .cart_item {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid #cfcfcf;
	padding: 10px 0
}

.page-content .woocommerce-cart-form .cart_item .amount {
	margin-top: 0
}

.page-content .woocommerce-cart-form .cart_item .amount input {
	width: 47px !important
}

.page-content .woocommerce-cart-form .cart_item .product-thumbnail {
	padding: 0
}

.page-content .woocommerce-cart-form .cart_item .product-thumbnail a {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: 0
}

.page-content .woocommerce-cart-form .cart_item .product-quantity {
	width: 112px;
	background-color: transparent !important
}

.page-content .woocommerce-cart-form .cart_item .product-subtotal {
	font-size: 18px;
	color: #111;
	font-weight: 600;
	padding: 0;
	width: 88px
}

.page-content .woocommerce-cart-form .cart_item .product-remove {
	padding: 0 0 0 15px
}

.page-content .woocommerce-cart-form .cart_item .product-remove a:hover {
	background-color: transparent
}

.page-content .woocommerce-cart-form .cart_item .product-remove a:hover:before {
	color: #f14f4f
}

.page-content .woocommerce-cart-form .cart_item .product-remove a {
	color: #111;
	margin-bottom: 0
}

.page-content .woocommerce-cart-form .cart_item .product-remove a:before {
	color: #111;
	transition: all .3s ease
}

.page-content .woocommerce-cart-form .cart_item .product-price {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: start;
	align-items: flex-start;
	font-size: 24px;
	color: #111;
	font-weight: 600;
	padding: 0;
	width: 80px
}

.page-content .woocommerce-cart-form .cart_item .product-price span {
	line-height: 1.1;
	margin: 0 !important
}

.page-content .woocommerce-cart-form .cart_item .product-price span:not([class]) {
	font-size: 16px;
	color: #707070;
	margin-right: 15px;
	position: relative
}

.page-content .woocommerce-cart-form .cart_item .product-price span:not([class]):before {
	height: 2px;
	width: 100%;
	content: "";
	position: absolute;
	top: 50%;
	background: #707070;
	transform: translateY(-50%)
}

.page-content .woocommerce-cart-form .cart_item .product-name {
	max-width: 305px;
	width: 100%;
	padding: 0 15px 0 30px
}

.page-content .woocommerce-cart-form .cart_item .product-name a {
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 0
}

.page-content .woocommerce-cart-form .cart_item td {
	border: none
}

.page-content .woocommerce-cart-form .cart_item img {
	width: 152px;
	height: 152px;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center
}

.page-content .woocommerce-cart-form .cart_item .product-remove {
	-ms-flex-order: 1;
	order: 1
}

.page-content .woocommerce-cart-form #coupon_code {
	width: 240px;
	height: 40px;
	border-radius: 3px;
	margin-right: 30px;
	padding: 0 15px;
	border: 1px solid #111;
	font-size: 14px;
	color: #707070
}

.checkout {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.checkout, .checkout .woocommerce-NoticeGroup-checkout {
	width: 100%
}

.checkout .amount {
	margin-top: 0 !important
}

.checkout #order_review {
	max-width: 544px;
	width: 100%
}

.checkout #customer_details {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 430px;
	width: 100%
}

.checkout #customer_details #billing_address_1_field, .checkout #customer_details #billing_address_2_field {
	width: calc((100% - 30px) / 2)
}

.checkout #customer_details #billing_address_1_field {
	margin-right: 30px !important
}

.checkout #customer_details .woocommerce-billing-fields__field-wrapper {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: end;
	align-items: flex-end
}

.checkout #customer_details #ship-to-different-address {
	font-size: 14px
}

.checkout #customer_details .wc-urk-shipping-form-group {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important
}

.checkout #customer_details .form-row {
	width: 100%;
	padding: 0;
	margin: 0 0 15px !important
}

.checkout #customer_details .form-row textarea {
	border: 1px solid #111;
	height: 120px;
	resize: none;
	padding: 10px 15px
}

.checkout #customer_details .form-row label {
	font-size: 14px;
	line-height: 17px;
	color: #111;
	margin-bottom: 5px
}

.checkout #customer_details .form-row .select2-container {
	height: 40px
}

.checkout #customer_details .form-row .woocommerce-input-wrapper {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column
}

.checkout #customer_details .form-row input.input-text {
	width: 100% !important
}

.checkout #customer_details .col-1, .checkout #customer_details .col-2 {
	width: 100%
}

footer {
	background: #111
}

footer .col-lg-3:last-of-type p {
	margin-top: auto;
	margin-top: 0
}

footer .col-lg-3:last-of-type ul.soc {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 15px
}

footer .col-lg-3:last-of-type ul.soc li[class*=icon-] {
	position: relative;
	margin-left: 25px
}

footer .col-lg-3:last-of-type ul.soc li[class*=icon-]:first-of-type {
	margin-left: 0
}

footer .col-lg-3:last-of-type ul.soc li[class*=icon-]:before {
	color: #fff;
	font-size: 20px;
	transition: all .3s ease
}

footer .col-lg-3:last-of-type ul.soc li[class*=icon-]:hover:before {
	color: hsla(0, 0%, 100%, .6)
}

footer .col-lg-3:last-of-type ul.soc li[class*=icon-] a {
	font-size: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: block;
	margin: 0
}

footer .col-lg-3:last-of-type ul.soc li a {
	color: #fff;
	font-size: 12px;
	text-decoration: none
}

footer .col-lg-3 {
	padding: 25px 15px
}

footer .col-lg-3 ul.menu {
	margin-top: 10px
}

footer .col-lg-3 ul.menu li:last-of-type a {
	margin-bottom: 0
}

footer .col-lg-3 .logo {
	width: 60px;
	display: block;
	margin-bottom: 15px
}

footer .col-lg-3 a {
	color: #fff;
	display: table;
	margin-bottom: 15px;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	transition: all .3s ease
}

footer .col-lg-3 a:hover {
	color: hsla(0, 0%, 100%, .6)
}

footer .col-lg-3 p {
	color: #fff;
	margin-top: 15px;
	font-size: 12px
}

footer .col-lg-3:first-of-type a {
	margin-bottom: 10px;
	text-decoration: none;
	font-size: 12px;
	font-weight: 400
}

footer .copyright {
	padding: 15px 0;
	background: #414141
}

footer .copyright p {
	font-size: 12px;
	color: #a0a0a0
}

footer .copyright a {
	color: #fff;
	transition: all .3s ease;
	text-decoration: underline
}

footer .copyright a:hover {
	color: hsla(0, 0%, 100%, .6)
}

@media only screen and (max-width: 1429px) {
	header .menu a {
		font-size: 12px
	}

	.banner .img {
		width: 534px;
		height: 345px
	}

	.banner .img img {
		-o-object-fit: cover;
		object-fit: cover;
		-o-object-position: center bottom;
		object-position: center bottom
	}

	.banner .description {
		padding-left: 50px
	}

	.banner .description h2.title {
		font-size: 28px
	}

	.question {
		padding-left: 50px;
		padding-right: 50px
	}

	.question p {
		margin-right: 15px
	}

	.question .button {
		margin-right: 15px;
		padding: 10px 15px
	}

	.question .button:last-of-type {
		margin: 0
	}

	.product .item .img img:not([src*="no-photo.png"]), .product .item .img img[src*="no-photo.png"] {
		width: 100%;
		height: 261px
	}

	.brand .brand-description {
		margin-bottom: 30px
	}

	.brand .filters {
		padding: 20px 10px
	}

	.brand .filters .checkbox label {
		font-size: 12px
	}

	.brand .filters .inputs input {
		width: 64px
	}

	.about-us img {
		width: 100%
	}

	.about-us .row:last-of-type p {
		max-width: 100%
	}

	.about-us .col-6:first-of-type {
		padding-left: 15px
	}

	.articles .item img {
		height: 166px
	}

	.page-content .woocommerce .woocommerce-cart-form {
		width: calc(100% - 445px)
	}

	.page-content .woocommerce .woocommerce-cart-form .cart_item img {
		width: 90px;
		height: 90px
	}

	.page-content .woocommerce .woocommerce-cart-form .cart_item .product-name {
		padding-left: 15px;
		width: 285px
	}

	.page-content .woocommerce .woocommerce-cart-form .cart_item .product-subtotal {
		width: 65px
	}

	.page-content .woocommerce .woocommerce-cart-form .coupon {
		width: calc(100% - 209px)
	}

	.page-content .woocommerce .woocommerce-cart-form #coupon_code {
		margin-right: 15px
	}

	.page-content .woocommerce .cart-collaterals {
		max-width: 435px
	}

	.page-content .woocommerce .shipping-calculator-button {
		font-size: 12px
	}
}

@media only screen and (max-width: 1199px) {
	.banner .img {
		width: 458px;
		height: 295px
	}

	.banner .description {
		width: calc(100% - 458px)
	}

	.product .item .img img:not([src*="no-photo.png"]), .product .item .img img[src*="no-photo.png"] {
		width: 100%;
		height: 216px
	}

	.articles .button {
		margin-top: 0
	}

	.articles .item {
		margin-bottom: 30px
	}

	.articles .item img {
		height: 296px
	}

	.articles .item h3.title {
		min-height: auto;
		margin-bottom: 10px
	}

	.landing-product .row img {
		width: 100%
	}

	.landing-product + .question-block .container, .landing-product .container {
		max-width: 960px
	}

	.brand .filters .inputs input {
		width: 80px
	}

	.contacts .col-md-6 {
		padding-left: 15px !important;
		padding-right: 15px !important
	}

	.page-content .woocommerce .woocommerce-cart-form {
		width: 100%
	}

	.page-content .woocommerce .woocommerce-cart-form .cart_item img {
		width: 152px;
		height: 152px
	}

	.page-content .woocommerce .woocommerce-cart-form .cart_item .product-name {
		width: calc(100% - 448px);
		max-width: inherit
	}

	.page-content .woocommerce .cart-collaterals {
		max-width: 100%
	}

	.checkout #order_review {
		max-width: 480px
	}

	.page-content .woocommerce .woocommerce-order-overview {
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column
	}

	.page-content .woocommerce .woocommerce-order-overview li {
		padding-bottom: 10px;
		margin-bottom: 15px;
		font-size: 14px;
		border-right: none;
		border-bottom: 1px solid #cfcfcf
	}
}

@media only screen and (max-width: 1024px) {
	header .menu-block {
		position: fixed;
		width: 320px;
		left: 0;
		top: 0;
		height: 100%;
		z-index: 100;
		background: #fff;
		transform: translateX(-100%);
		transition: all .3s ease;
		padding: 48px 20px 20px;
		overflow-y: auto;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column
	}

	header .menu-block ul:after {
		content: "";
		position: absolute;
		bottom: 0;
		height: 1px;
		left: 0;
		width: 100px;
		background: #707070
	}

	header .menu-block ul:last-of-type:after {
		display: none
	}

	header .menu-block ul:nth-of-type(2) {
		-ms-flex-order: 1;
		order: 1
	}

	header .menu-block ul {
		position: relative;
		margin-bottom: 20px
	}

	header .menu-block ul:not([class]) {
		-ms-flex-order: 1;
		order: 1
	}

	header .menu-block .logo {
		margin: 25px 0 20px
	}

	header .menu-block a {
		font-size: 16px;
		text-decoration: none
	}

	header .menu-block .menu {
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column
	}

	header .menu-block .menu li {
		margin-bottom: 20px
	}

	header .menu-block ul:not([class]) {
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column
	}

	header .menu-block ul:not([class]) li {
		margin-bottom: 20px
	}

	header .menu-block ul:not([class]) li a {
		color: #111
	}

	header .menu-block ul:not([class]) li[class*=icon-] {
		display: none
	}

	header .menu-block.open {
		transform: translateX(0)
	}

	header .menu {
		display: none
	}

	header .logo {
		width: 60px
	}

	header .burger, header .close {
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: justify;
		justify-content: space-between;
		width: 28px;
		height: 18px;
		position: relative;
		cursor: pointer
	}

	header .burger span, header .close span {
		transition: all .3s ease;
		background: #111;
		width: 100%;
		height: 2px;
		display: block
	}

	header .close {
		position: absolute;
		top: 20px;
		left: 20px;
		height: 18px
	}

	header .close span:nth-of-type(2) {
		transform: rotate(-45deg) translate(5px, -6px)
	}

	header .close span:first-of-type {
		transform: rotate(45deg) translate(5px, 6px)
	}

	header .top-header ul li:not([class*=icon-]) {
		display: none
	}
}

@media only screen and (max-width: 991px) {
	.page-content h1 {
		font-size: 24px
	}

	.banner .slick-track {
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: row;
		flex-direction: row
	}

	.banner .item {
		position: relative;
		height: auto
	}

	.banner .banner-slider {
		margin-bottom: 0
	}

	.banner .banner-slider .slick-arrow {
		display: none !important
	}

	.banner .description {
		padding: 100px 10px 0;
		width: 100%
	}

	.banner .description .desc, .banner .description .meta, .banner .description .title {
		background: #fff
	}

	.banner .img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		width: 100%;
		height: 100%
	}

	footer .col-lg-3 {
		padding: 25px 15px 0
	}

	footer .col-lg-3 ul.menu {
		margin-top: 0
	}

	footer > .container {
		padding-bottom: 25px
	}

	.brand .brand-description img {
		width: 120px;
		height: 120px;
		-o-object-fit: contain;
		object-fit: contain;
		margin-right: 15px
	}

	.brand .brand-description .desc p.brand-desc {
		font-size: 12px
	}

	.question {
		padding-left: 10px;
		padding-right: 10px
	}

	.question .button {
		font-size: 12px !important
	}

	.landing-product .container {
		max-width: 720px
	}

	.landing-product .text h1 {
		margin-bottom: 15px
	}

	.landing-product .text br {
		display: none
	}

	.landing-product .text p {
		font-size: 14px;
		margin-bottom: 15px
	}

	.landing-product + .question-block .container {
		max-width: 720px
	}

	.brand .filters {
		padding: 20px 10px
	}

	.brand .filters .inputs input {
		width: 70px
	}

	.brand .filters .checkbox label {
		padding-left: 25px
	}

	.about-us h1.title {
		font-size: 18px
	}

	.page404 img {
		width: 80%
	}

	.blog-content h1 {
		font-size: 24px
	}

	.blog-content h2 {
		font-size: 22px
	}

	.blog-content h3 {
		font-size: 20px
	}

	.blog-content h4 {
		font-size: 18px
	}

	.blog-content h5 {
		font-size: 16px
	}

	.blog-content h6 {
		font-size: 14px
	}

	.blog-content p, .nav-tabs button {
		font-size: 12px
	}

	.tab-pane h2 {
		font-size: 22px
	}

	.tab-pane h3 {
		font-size: 20px
	}

	.tab-pane h4 {
		font-size: 18px
	}

	.tab-pane h5 {
		font-size: 16px
	}

	.tab-pane h6 {
		font-size: 14px
	}

	.tab-pane a, .tab-pane ol li, .tab-pane p, .tab-pane ul li {
		font-size: 12px
	}

	.articles .item img {
		height: 216px
	}

	.checkout #customer_details, .checkout #order_review {
		max-width: 100%
	}
}

@media only screen and (max-width: 767px) {
	.woocommerce-page table.shop_table_responsive tr td:before, .woocommerce table.shop_table_responsive tr td:before {
		display: none
	}

	.brands .item img {
		width: 80%;
		height: 125px;
		-o-object-fit: contain;
		object-fit: contain
	}

	.col-12 > h2.title {
		font-size: 24px;
		margin-bottom: 20px
	}

	.brand .brand-description {
		-ms-flex-direction: column;
		flex-direction: column
	}

	.brand .brand-description img {
		width: 160px;
		height: auto;
		margin: 30px 0 20px;
		margin-right: 0
	}

	.brand .brand-description .desc h1.title {
		font-size: 18px
	}

	.question {
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 15px 20px
	}

	.question form {
		max-width: 100%;
		margin-top: 35px
	}

	.question p {
		margin-right: 0;
		margin-bottom: 20px;
		text-align: center
	}

	.question .button {
		margin: 0 0 10px !important;
		width: 100%;
		font-size: 14px !important
	}

	.landing-product .container {
		max-width: 540px
	}

	.landing-product .row, .landing-product .text p {
		margin-bottom: 30px
	}

	.landing-product .row img {
		margin-top: 30px
	}

	.landing-product .row:nth-of-type(2n) .col-lg-6:last-of-type {
		-ms-flex-order: 0;
		order: 0
	}

	.landing-product + .question-block .container {
		max-width: 540px
	}

	.filters {
		margin-bottom: 60px;
		padding: 0;
		border-color: #111
	}

	.filters form {
		max-width: 100%;
		position: relative
	}

	.filters form h4:after {
		content: "";
		position: absolute;
		right: 20px;
		width: 20px;
		height: 2px;
		top: 50%;
		background: #111;
		transform: rotate(45deg) translate(0);
		transform-origin: 50%;
		margin-top: -1.5px;
		opacity: 0;
		transition: all .3s linear
	}

	.filters form h4 {
		text-align: center;
		margin-bottom: 0;
		height: 42px;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: center;
		justify-content: center;
		cursor: pointer;
		position: relative;
		margin-bottom: 0 !important
	}

	.filters form h4:before {
		content: "";
		position: absolute;
		right: 20px;
		width: 20px;
		height: 2px;
		top: 50%;
		background: #111;
		transform: rotate(-45deg);
		transform-origin: 50%;
		margin-top: -1.5px;
		opacity: 0;
		transition: all .3s linear
	}

	.filters form .hide {
		display: none;
		padding: 0 20px 20px
	}

	.filters form:before {
		content: "";
		border-right: 2px solid #111;
		border-bottom: 2px solid #111;
		transform: rotate(45deg);
		right: 24px;
		width: 12px;
		height: 12px;
		position: absolute;
		top: 11.5px;
		transition: all .3s linear
	}

	.filters.open {
		border-color: #cfcfcf
	}

	.filters.open form h4:after {
		transform: rotate(45deg) translate(0);
		transform-origin: 50%;
		margin-top: -1.5px;
		opacity: 1
	}

	.filters.open form h4:before {
		transform: rotate(-45deg);
		transform-origin: 50%;
		margin-top: -1.5px;
		opacity: 1
	}

	.filters.open form:before {
		opacity: 0
	}

	.mini-banner {
		display: none
	}

	.contacts .col-md-6 {
		padding-top: 40px
	}

	.contacts .col-md-6:last-of-type {
		padding-top: 10px
	}

	.contacts form {
		max-width: 100%
	}

	.page404 h2 {
		font-size: 20px
	}

	.product .col-xl-6 .img a {
		display: block;
		margin: 0 auto
	}

	.product .col-xl-6 .img img {
		max-width: 326px !important;
		margin: 0 auto
	}

	.blog-content p {
		font-size: 14px
	}

	.blog-content h2 {
		font-size: 24px
	}

	.blog-content h3 {
		font-size: 22px
	}

	.blog-content h4 {
		font-size: 20px
	}

	.blog-content h5 {
		font-size: 18px
	}

	.blog-content h6 {
		font-size: 16px
	}

	.blog-content ol li, .blog-content ul li, .nav-tabs button {
		font-size: 14px
	}

	form.question .col-md-6:first-of-type {
		margin-bottom: 40px
	}

	.articles .item img {
		height: 246px
	}

	.page-content .woocommerce .woocommerce-cart-form .cart_item .product-name {
		width: calc(100% - 297px);
		padding-left: 0;
		background-color: transparent !important
	}

	.page-content .woocommerce .woocommerce-cart-form .cart_item .product-name a {
		font-size: 10px;
		line-height: 14px;
		text-align: left
	}

	.page-content .woocommerce .woocommerce-cart-form .coupon {
		width: 100%
	}

	.page-content .woocommerce .woocommerce-cart-form .coupon .button {
		width: calc(100% - 255px) !important
	}

	.page-content .woocommerce .woocommerce-cart-form .coupon + .button {
		max-width: 240px
	}

	.page-content .woocommerce .cart-collaterals .checkout-button {
		margin-bottom: 0 !important
	}

	.page-content .woocommerce .cart-collaterals .cart_totals .shop_table th {
		display: block
	}

	.page-content .woocommerce .cart-collaterals .cart_totals .shop_table td {
		background-color: transparent;
		text-align: left !important
	}

	.blog .filters {
		display: none
	}
}

@media only screen and (max-width: 575px) {
	.brands .item img {
		width: 80%;
		height: 23.304vw
	}

	.product .col:last-of-type .item {
		margin-bottom: 0
	}

	footer .col-lg-3:nth-of-type(3) {
		padding-top: 20px
	}

	footer .col-lg-3:nth-of-type(2) .menu {
		position: relative;
		padding-bottom: 20px
	}

	footer .col-lg-3:nth-of-type(2) .menu:after {
		content: "";
		position: absolute;
		bottom: 0;
		height: 1px;
		left: 0;
		width: 232px;
		background: #cfcfcf
	}

	footer .col-lg-3 .logo {
		float: left
	}

	footer .col-lg-3:first-of-type .tel, footer .col-lg-3:first-of-type p {
		margin-left: 110px
	}

	.landing-product .container {
		max-width: 100%
	}

	.landing-product .text h1 {
		font-size: 18px
	}

	.landing-product + .question-block .container {
		max-width: 100%
	}

	.product .col-xl-6 .description h1.title {
		font-size: 18px
	}

	.nav-block {
		overflow-x: auto
	}

	.nav-tabs {
		min-width: 514px
	}

	.articles .item img {
		height: calc(100vw - 24px)
	}

	.page-content .woocommerce .woocommerce-cart-form .cart_item {
		-ms-flex-pack: justify;
		justify-content: space-between
	}

	.page-content .woocommerce .woocommerce-cart-form .cart_item .product-name {
		text-align: left !important;
		width: 100%
	}

	.page-content .woocommerce .woocommerce-cart-form .cart_item .product-name a {
		font-size: 14px;
		line-height: 1.2
	}
}

@media only screen and (max-width: 479px) {
	.checkout #order_review tr {
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column
	}

	.banner .description .meta {
		font-size: 10px
	}

	.banner .description p.desc {
		font-size: 12px
	}

	.banner .description h2.title {
		font-size: 18px
	}

	.description-block .col-12 h2 {
		font-size: 18px;
		margin-bottom: 15px
	}

	.description-block .col-12 p {
		font-size: 12px
	}

	.page404 .buttons {
		-ms-flex-direction: column;
		flex-direction: column
	}

	.page404 .buttons .button {
		max-width: 100%;
		margin-left: 0;
		margin-right: 0
	}

	.page404 .buttons .button:first-of-type {
		margin-bottom: 20px
	}

	.product .col-xl-6 .description .button {
		padding: 10px 15px;
		height: 42px;
		max-width: 179px;
		font-size: 14px
	}

	header .top-header ul li[class*=icon-] {
		position: relative;
		margin-left: 10px
	}

	header .top-header ul li[class*=icon-]:before {
		font-size: 16px
	}

	.page-content .woocommerce .cart-collaterals .shipping-calculator-form .button {
		width: 100%;
		max-width: 100%
	}

	.page-content .woocommerce .cart-collaterals tr {
		-ms-flex-direction: column;
		flex-direction: column
	}

	.page-content .woocommerce .cart-collaterals tr th {
		width: 100%
	}

	.page-content .woocommerce .cart-collaterals tr .amount bdi, .page-content .woocommerce .cart-collaterals tr .amount span {
		font-size: 24px
	}

	.page-content .woocommerce .cart-collaterals tr td {
		margin-top: 10px;
		width: 100%
	}

	.page-content .woocommerce .checkout-button {
		max-width: 100%
	}

	.page-content .woocommerce .woocommerce-cart-form .coupon {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}

	.page-content .woocommerce .woocommerce-cart-form .coupon #coupon_code {
		width: 100%;
		margin-right: 0
	}

	.page-content .woocommerce .woocommerce-cart-form .coupon .button {
		width: 100% !important;
		max-width: 100%;
		margin-top: 10px
	}

	.page-content .woocommerce .woocommerce-cart-form .coupon + .button {
		max-width: 100%
	}
}

@media only screen and (max-width: 359px) {
	.product .col-xl-6 .img img {
		width: 290px !important;
		height: 290px !important
	}

	header .icon-bag {
		font-size: 0
	}

	.question .button {
		padding-left: 10px;
		padding-right: 10px
	}
}

.mini-banner {
	position: relative;
	margin-top: 20px
}

.mini-banner img {
	width: 100%
}

.mini-banner .desc {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 5px;
	display: table;
	padding: 10px
}

.mini-banner .desc p:not(.meta) {
	background: #fff;
	font-size: 12px;
	color: #111;
	margin-bottom: 15px;
	max-width: 236px
}

.mini-banner .desc p.meta {
	padding: 5px;
	font-size: 10px;
	background: #fff;
	border: 1px solid #111;
	display: table;
	margin-bottom: 15px;
	margin-top: auto
}

.mini-banner .desc h5 {
	font-size: 18px;
	color: #111;
	background: #fff;
	margin-bottom: 5px
}

.mini-banner .desc .button {
	margin: 0;
	width: 126px;
	height: 37px;
	font-size: 14px
}
